<!doctype html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="ThemePractice.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body ng-app="myApp">

    <!-- <div>
    <md-button ng-click="dynamicTheme = 'default'">Default</md-button>
    <md-button ng-click="dynamicTheme = 'altTheme'">altTheme</md-button>
    <div md-theme="{{ dynamicTheme }}" md-theme-watch>
      <md-button class="md-primary">I'm dynamic</md-button>
    </div>
  </div> -->
  <div>
  <md-button class="md-primary">I will be blue (by default)</md-button>
  <div md-theme="altTheme">
    <md-button class="md-primary">I will be purple (altTheme)</md-button>
  </div>
  <div md-theme="default2">
    <md-button class="md-primary">I will be customised(default2)</md-button>
  </div>
</div>

</body>
</html>
